/* Styling for the navbar at the top of the page */

#nav-wrapper {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#nav-list li {
    list-style: none;
    margin: 1rem 5rem;
    padding: 5px;
}

#nav-list li:hover {
    animation: 1s draw;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: scale(1.1);

}

.nav-link {
    border-radius: 10px;
    font-size: 28px;
    padding: 1rem;
}

/* Animation for when a user hovers over a nav link */

@keyframes draw {
    0% {
        border-left: 2px solid white;
        transition: 0.2s ease-in-out;
    }

    25%{
        border-top: 2px solid white;
        transition: 0.2s ease-in-out;
    }

    50% {
        border-right: 2px solid white;
        transition: 0.2s ease-in-out;
    }

    75% {
        border-bottom: 2px solid white;
        transition: 0.2s ease-in-out;
    }

    100% {
        border-left: 2px solid white;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transition: 0.2s ease-in-out;
    }
}

/* Styling for the first section; brand name & tagline */

#heading-container {
    height: auto;
    margin-top: -5%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

header img {
    height: auto;
    max-height: 100vh;
    position: relative;
    width: 100%;
}

header h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vw;
}

#heading-span {
    color: #6DAAD7;
}

#tagline {
    color: white;
    line-height: 1.25;
}

/* Typography styling */

h2 {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    margin: 3rem;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
}


p {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

/* Styling for features section */

.page-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-highlight {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.product-info {
    margin-left: 2rem;
}

.product-info p {
    line-height: 1.25;
    padding-right: 2rem;
}

.product-descr {
    margin-bottom: 1rem;
}

/* Styling for the instructions section */

#dark-section {
    background-color: rgb(31, 32, 34);
}

#dark-section h2, #dark-section p {
    color: white;
}

ol {
    padding-left: 5rem;
    padding-right: 5rem;
}

li {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main-point {
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
}

.subpoint {
    font-size: 18px;
    margin-left: 2rem;
}

/* Styling for the sketch pad and tools */

#sketch-pad-wrapper {
    border: 30px groove rgb(141, 92, 2);
    border-radius: 5px;
    cursor: url("../images/blue-pencil-cursor.png"), default;
    height: 67vh;
    overflow: hidden;
    width: 67vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.square {
    background-color: white;
    height: 10px;
    width: 10px;
}

#colors-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.color-swatch {
    border: 2px solid black;
    border-radius: 50%;
    height: 50px;
    margin: 5px;
    width: 50px;
}

.color-swatch:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#pencil-tool {
    height: 88px;
    margin-left: 1rem;
    transform: rotate(140deg);
    width: 88px;
}

#pencil-tool:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(140deg);
}

#eraser {
    height: 64px;
    margin-left: 1rem;
    width: 64px;

}

#eraser:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#reset {
    background-color: #224A6D;
    border: 2px transparent;
    border-radius: 5px;
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 3rem;
    padding: 1rem;
}

#reset:hover {
    background-color: #FFCD76;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* Styling for the footer */

.half-page-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

#acknowledgements-section {
    align-items: center;
    background-color: #224A6D;
    display: flex;
}

#acknowledgements-section h2, #acknowledgements-section p {
    color: white;
}

.reference-p {
    font-size: 24px;
    margin: 2rem 0;
    text-align: center;
}

.footer-link {
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
}

/* Responsive styling for all devices/viewports */

@media screen and (max-width: 950px) {

    #nav-list li {
        margin: 1rem 1rem;
    }

    header img {
        width: auto;
    }

    .blue-pencil {
        height: auto;
        width: 50vw;
    }

    #sketch-pad-wrapper {
        width: 75vw;
    }
}

@media screen and (max-width: 692px) {
    header h1 {
        font-size: 12vw;
    }

    #tagline {
        font-size: 6vw;
    }

    .nav-link {
        font-size: 20px;
    }

    .product-info p {
        font-size: 14px;
    }

    .subpoint {
        font-size: 14px;
    }

    #sketch-pad-wrapper {
        width: 85vw;
    }

    #colors-container {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 565px) {
    header h1 {
        font-size: 12vw;
    }

    #tagline {
        font-size: 6vw;
    }

    #nav-list li {
        margin: 1rem 0.5rem;
    }

    .reference-p {
        font-size: 14px;
        margin: 1rem 0;
    }

    #reset {
        font-size: 14px;
    }

    h2 {
        font-size: 9vw;
    }

    #tagline {
        font-size: 4vw;
    }
    
    h3, .main-point {
        font-size: 7vw;
    }
}

@media screen and (max-width: 430px) {
    .nav-link {
        font-size: 14px;
    }

    .product-highlight {
        flex-direction: column;
    }

    .blue-pencil {
        margin-bottom: 2rem;
    }

    ol {
        padding: 1rem 3rem;
    }

    .subpoint {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .nav-link {
        font-size: 10px;
    }

    #tagline {
        margin: 1.5rem;
    }
}
